body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
img {
    display: block;
}
.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.web {
    color: #4d5ae5;
}
.studiohead {
    color: #2e2f42;
}
.navilinks{
text-decoration: none;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.navilinks:hover, .navilinks:focus {
    color: #404bbf;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.adres {
    font-style: normal;
    margin-left: auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container {
  display: flex;  
  align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 40px;
}
.adres-list {
    display: flex;
    gap: 40px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.contacts {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-decoration: none;
font-style: normal;
letter-spacing: 0.02em;
color: #434455;
}
.contacts:hover, .contacts:focus {
    color: #404bbf;
}


.banner {
    background-color: #2E2F42;
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;

    
}
.bannerhead {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-top: 188px;
    margin-left: 473px;
    margin-right: 473px;
    margin-bottom: 48px;
    display: flex;    
    max-width: 496px;
 
}
.buttonblue {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin-bottom: 188px;
    padding: 16px 32px 16px 32px;


}
.buttonblue:hover, .buttonblue:focus {
    background-color: #404BBF;
}

.features {
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
}

.featurecontent {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.02em;
}
.container-features {
    display: flex;
    align-items: center;
    margin-top: 120px;
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}
.features-list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.feature-item {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
width: 264px;
}
.team-container{
    display: column;
    align-items: center;
}
.teamhead {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 120px;
}
.teamsection {
    background-color: #F4F4FD;
}
.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.teamname {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.teamprof {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.teammate {
background-color: #ffffff; 
}
.portfolio-container {
    width: 1128px;
    display: flexbox;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    align-items: center;
    justify-content: center;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.typetitle {
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
}

.typeprof {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
text-align: left;
letter-spacing: 0.02em;
}
.footerstyles {
    background-color: #2E2F42;
}
.studiofoo {
    color: #f4f4fd;
}
.textfoot {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
}
